/* Layout */
.activities{
    display: grid;
    gap: .5rem;
}

/* Elements */
.activity{
    background-color: var(--clr-gray);
    padding: .5rem;
    border-radius: .5rem;
}

/* Buttons */

.btn.add-btn{
    border: 1px solid var(--clr-dark);
    font-size: 1rem;
    width: max-content;
}

.btn.add-btn:hover{
    background-color: var(--clr-dark);
    color: var(--clr-light);
}