/* Layout */

.activities{
    display: grid;
    gap: .5rem;
}

.activity-info{
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr;
    gap: .5rem;
    align-items: center;
}

.day-info{
    display: grid;
    grid-template-columns: repeat(7, min-content);
    grid-template-rows: repeat(2, min-content);
    gap: .3rem;
    margin-top: .5rem;
}

.activity-buttons{
    margin-left: auto;
}

/* Elements */

.activity{
    background-color: var(--clr-light-gray);
    padding: .5rem;
}

.day{
    width: 48px;
    height: 48px;
    padding: .1rem .2rem;
    background-color: var(--clr-gray);
    border-radius: .1rem;
    cursor: pointer;
}

.day:hover{
    background-color: var(--clr-medium-gray);
}

/* Buttons */

.btn.add-btn{
    border: 1px solid var(--clr-dark);
    font-size: 1rem;
    width: max-content;
}

.btn.add-btn:hover{
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.activity-buttons > button{
    color: var(--clr-dark);
}

.activity-buttons > button:hover{
    color: var(--clr-medium-dark);
}