<div class="day-info">
    <div class="fs-small">{{subDays(6) | date : "EEE"}}</div>
    <div class="fs-small">{{subDays(5) | date : "EEE"}}</div>
    <div class="fs-small">{{subDays(4) | date : "EEE"}}</div>
    <div class="fs-small">{{subDays(3) | date : "EEE"}}</div>
    <div class="fs-small">{{subDays(2) | date : "EEE"}}</div>
    <div class="fs-small">{{subDays(1) | date : "EEE"}}</div>
    <div class="fs-small">{{date | date : "EEE"}}</div>
    <div class="day fs-small">{{subDays(6) | date : "mediumDate"}}</div>
    <div class="day fs-small">{{subDays(5) | date : "mediumDate"}}</div>
    <div class="day fs-small">{{subDays(4) | date : "mediumDate"}}</div>
    <div class="day fs-small">{{subDays(3) | date : "mediumDate"}}</div>
    <div class="day fs-small">{{subDays(2) | date : "mediumDate"}}</div>
    <div class="day fs-small">{{subDays(1) | date : "mediumDate"}}</div>
    <div class="day fs-small">{{date | date : "mediumDate"}}</div>
</div>
