/* Layout */

.day-info{
    display: grid;
    grid-template-columns: repeat(7, min-content);
    grid-template-rows: repeat(2, min-content);
    gap: .3rem;
    margin-top: .5rem;
}

/* Elements */

.day{
    width: 48px;
    height: 48px;
    padding: .1rem .2rem;
    background-color: var(--clr-gray);
    border-radius: .1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-out,
                transform 0.5s ease-out;
}

.day:active{
    transform: scale(0.9);
}

.day:hover{
    background-color: var(--clr-medium-gray);
}

.day.success{
    background-color: var(--clr-success);
}

.day.success:hover{
    background-color: var(--clr-success-dark);
}

.day.danger{
    background-color: var(--clr-danger);
}

.day.danger:hover{
    background-color: var(--clr-danger-dark);
}

.day.primary{
    background-color: var(--clr-primary);
}

.day.primary:hover{
    background-color: var(--clr-primary-dark);
}

.day.warning{
    background-color: var(--clr-warning);
}

.day.warning:hover{
    background-color: var(--clr-warning-dark);
}