/* Layout */

.content {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 200px 1fr;
    height: 100%;
    transition: 300ms;
}

header{
    display: grid;
    align-items: center;
    grid-column: 1 / -1;
    padding-left: .5rem;
}

nav{
    position: relative;
    padding: .5rem;
    padding-top: .6rem;
}

main{
    padding: .5rem;
}

footer{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;
}

/* Display */

.nav-hidden{
    grid-template-columns: 50px 1fr;
}

/* Buttons */

.nav-toggle{
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--clr-light);
}

/* Lists */

.nav-links, .nav-links li{
    margin-top: .5rem;
}

.nav-links li{
    padding: .3rem;
    cursor: pointer;
}

.nav-links li a{
    display: block;
}

.nav-links li:hover{
    background-color: var(--clr-medium-dark);
}