@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    --clr-light: hsl(0, 0%, 98%);
    --clr-dark: hsl(0, 0%, 27%);
    --clr-medium-dark: hsl(0, 0%, 35%);
    --clr-gray: hsl(0, 0%, 66%);
    --clr-medium-gray: hsl(0, 0%, 70%);
    --clr-light-gray: hsl(0, 0%, 85%);
    --clr-primary: hsl(207, 44%, 49%);
    --clr-primary-dark: hsl(207, 44%, 44%);

    --clr-success: hsl(130, 55%, 45%);
    --clr-success-dark: hsl(130, 55%, 40%);

    --clr-danger: hsl(0, 55%, 45%);
    --clr-danger-dark: hsl(0, 55%, 40%);

    --clr-warning: hsl(50, 100%, 45%);
    --clr-warning-dark: hsl(50, 100%, 40%);

    --fw-bold: 600;

    --fs-small: .8rem;
    --fs-medium: 1.2rem;
  }

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto";
  color: var(--clr-light);
}

p,
h1,
h2
{
  margin: 0;
}

a{
  color: inherit;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a{
  text-decoration: none;
}

/* Buttons */

button{
  background: none;
  border: none;
  cursor: pointer;
}

.btn{
  padding: .3rem .6rem;
  border-radius: .2rem;
}

.btn.submit-btn{
  background-color: var(--clr-success);
  color: var(--clr-light);
}

.btn.submit-btn:hover{
  background-color: var(--clr-success-dark);
}

.btn.submit-btn:disabled{
  background-color: var(--clr-success-dark);
  color: var(--clr-dark);
}

.btn.cancel-btn{
  background-color: var(--clr-danger);
  color: var(--clr-light);
}

.btn.cancel-btn:hover{
  background-color: var(--clr-danger-dark);
}

/* Forms */

.form-title{
  margin-bottom: .5rem;
}

.form-input{
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: .2rem;
  width: 300px;
}

.form-buttons{
  display: flex;
  gap: .2rem;
  margin-top: .5rem;
}

/* Inputs */

.form-input > label{
  font-size: var(--fs-small);
}

.form-input > input, .form-input > select{
  padding: .3rem;
  border-radius: .3rem;
  border: 1px solid var(--clr-dark);
  font-family: inherit;
}

.form-input > input.invalid{
  border: 1px solid var(--clr-danger-dark);
}

.form-input > select{
  cursor: pointer;
}

option{
  background-color: var(--clr-light);
}

/* Utility */

.text-clr-dark{
  color: var(--clr-dark);
}

.bgc-light{
  background-color: var(--clr-light);
}

.bgc-dark{
  background-color: var(--clr-dark);
}

.bgc-primary{
  background-color: var(--clr-primary);
}

.bgc-success{
  background-color: var(--clr-success);
}

.bgc-danger{
  background-color: var(--clr-danger);
}

.bgc-warning{
  background-color: var(--clr-warning);
}

.fw-bold{
  font-weight: var(--fw-bold);
}

.fs-small{
  font-size: var(--fs-small);
}

.fs-medium{
  font-size: var(--fs-medium);
}

.text-clr-danger{
  color: var(--clr-danger-dark);
}