@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    --clr-light: hsl(0, 0%, 98%);
    --clr-dark: hsl(0, 0%, 27%);
    --clr-gray: hsl(0, 0%, 66%);
    --clr-primary: hsl(207, 44%, 49%);

    --fw-bold: 600;

    --fs-small: .8rem;
    --fs-medium: 1.2rem;
  }

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto";
  color: var(--clr-light);
}

p,
h1,
h2
{
  margin: 0;
}

a{
  color: inherit;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a{
  text-decoration: none;
}

/* Buttons */

button{
  background: none;
  border: none;
  cursor: pointer;
}

.btn{
  padding: .3rem .6rem;
  border-radius: .2rem;
}

/* Utility */

.text-clr-dark{
  color: var(--clr-dark);
}

.bgc-light{
  background-color: var(--clr-light);
}

.bgc-dark{
  background-color: var(--clr-dark);
}

.bgc-primary{
  background-color: var(--clr-primary);
}

.fw-bold{
  font-weight: var(--fw-bold);
}

.fs-medium{
  font-size: var(--fs-medium);
}